.load-page{
    background: #fff;
    overflow: hidden;
}
.loader{
    width: 300px;
    height: 300px;
    margin:auto;
}
.loader div{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid #fff;
    border-top: 1px solid darkcyan;
    border-radius: 50%;
    animation: rotate 3s linear infinite alternate-reverse;
}
@keyframes rotate{
    50%{
        transform: rotate(80deg);
    }
    100%{
        transform: rotate(360deg);
    }
}